<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Core Admin Theme</title>
    {% block stylesheets %}
        {% stylesheets
        '@GerFrontendBundle/Resources/public/stylesheets/application.css'
        output='bundles/gerfrontend/compiled/application.css'
        filter='yui_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
    {%  block javascripts %}
        {% javascripts '@GerFrontendBundle/Resources/public/javascripts/application.js'
        filter='yui_js'
        output='bundles/gerfrontend/compiled/application.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>